.container {
    background: #ff6969;
    margin: 0 0 60px 0;
    padding: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.input {
    border: none;
    height: 40px;
    padding: 0 15px;
    font-size: 18px;
    transition: background-color .3s;

    &:focus {
        outline: none;
        background-color: #fdffb9;
    }
}

.button {
    position: relative;
    cursor: pointer;
    margin: 0 0 0 15px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #4090ab;
    color: #fff;
}


.preloader {
    position: absolute;
    top: 0;
    right: -45px;
    width: 40px;
    height: 40px;
    background-image: url(./images/preloader-small.gif);
}