.container {
    background-color: #AADFFF;  
}

.login {
    min-height: 70px;
}

.goToUser {
    display: block;
    margin: 15px 0;
    text-align: center;
    color: #2b50ab;
    
    &:hover {
        text-decoration: none;
    }
}

.delete {
    text-align: center;
    padding: 0 0 15px;
}

img {
    width: 100%;
}